
<div class="post-entry">
    <a href="#">
        <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </a>
    <div class="caption">
        <div class="caption-inner">
            <h3 class="mb-3">{{player.name}}</h3>
            <h3 class="mb-3">{{player.position}}</h3>
            <h3 class="mb-3">{{player.nbr}}</h3>
            <h3 class="mb-3">{{player.age}}</h3>

            <div class="author d-flex align-items-center">
               
              
            </div>
        </div>
    </div>
</div>
